@{
   ViewBag.Title = "About";

   ViewBag.PageTitle = "About";
   ViewBag.PageSubTitle = "Who we are";
   ViewBag.BannerUrl = "/startbootstrap/img/about-bg.jpg";

}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This blog is a simple test with practicing MVC. I may use it for my wife, Julia's,
    personal blog or website, but I'm not sure if she'll like the layout. Hopefully I
    can add lots of cool features and stuff like nested comments through Ajax calls,
    and lots of third party log-ins. 
</p>
