@{
   ViewBag.Title = "Contact";
   ViewBag.PageTitle = "Contact";
   ViewBag.PageSubTitle = "Get in touch";
   ViewBag.BannerUrl = "/startbootstrap/img/about-bg.jpg";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5206 Possum Trot Lane<br />
    Charlotte, NC 28215<br />
    <abbr title="Phone">P: 828.713.7749</abbr>
    828.713.7749
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:powers.wartman@gmail.com">powers.wartman@gmail.com</a>
</address>