@{
   ViewBag.Title = "Index";
   ViewBag.PageTitle = "Test";
   ViewBag.PageSubtitle = "This is a test";
   ViewBag.BannerUrl = "/startbootstrap/img/home-bg.jpg";
}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        @Html.Action("PostsIndexPartial", "Home")
        <!-- Pager -->
    </div>
</div>